body{
    background-image:url("https://i.imgur.com/7QeAWe6.jpeg");
    background-size: 100%;

    background-color: black;
    text-align: center;
}
.cartao{
    width: 60%;
    background-color: black;
    margin:auto;
    border-radius: 100px;
    border-style: groove;
    border-color: blue;
    margin-top: 40px;
}
img{
    margin-top: 20px;
    width: 500px;
}
h1{
    color: orange;
}
a{
    text-decoration: none;
}
button{
    background-color: yellow;
}
